$colorPrimary: #000;
$colorWhite: #fff;
$colorAccent: #3abcb0;
$maxWidth: 1920;//Ширина макета/Экрана

@mixin fontSize($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin breakpoint($point) {
    @if $point == lg {
        @media (max-width: 992px) {@content;}
    }
    @else if $point == md {
        @media (max-width: 768px) {@content;}
    }
    @else if $point == sm {
        @media (max-width: 576px) {@content;}
    }
    @else if $point == xs {
        @media (max-width: 320px) {@content;}
    }
    @else if $point == minlg {
        @media (min-width: 993px) {@content;}
    }
}